{% extends 'template.twig' %}

{% block body %}
    {% if isUserSignedIn == true %}
        {% include '/main/welcome-page.twig' %}
    {% else %}
        <main class="container">
            <div class="col-md-6">
                <section id="sign-in">
                    <h3>Sign In</h3>

                    <form action="{{ base_url() }}/signIn" method="POST">
                        <div class="form-group">
                            <label for="usernameInput" class="">Username</label>
                            <input type="text" class="form-control" id="usernameInput" placeholder="Username" name="username">
                        </div>

                        <div class="form-group">
                            <label for="passwordInput">Password</label>
                            <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password">
                        </div>

                        <button type="submit" class="btn btn-default btn-sign-in">Sign In</button>
                    </form>
                </section>

                <section id="sign-up">
                    <h3>Join Us</h3>

                    <form action="{{ base_url() }}/signUp" method="POST">
                        <div class="form-group">
                            <label for="usernameInput" class="">Username</label>
                            <input type="text" class="form-control" id="usernameInput" placeholder="Username" name="username">
                        </div>

                        <div class="form-group">
                            <label for="passwordInput">Email</label>
                            <input type="email" class="form-control" id="passwordInput" placeholder="E-mail" name="email">
                        </div>

                        <div class="form-group">
                            <label for="passwordInput">Password</label>
                            <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password">
                        </div>

                        <button type="submit" class="btn btn-default btn-sign-in">Sign Up</button>
                    </form>
                </section>
            </div>

            <div class="col-md-6 homepage-coffeeman-description">
                <p>
                    Coffeeman - Application which allow you to easily manage your workouts.
                </p>

                <img src="http://www.clker.com/cliparts/1/c/1/S/m/c/coffee-bean.svg" alt="Coffeeman Logo" class="homepage-coffeeman-logo">
            </div>
        </main>
    {% endif %}
{% endblock %}
