<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Hello {{ user.username }}!</h2>
        </div>
        <div class="col-md-4">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Burned Calories</th>
                    <th>Most frequent workout</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ user.summedSportsmanWorkouts.burnedCalories }}</td>
                    <td>{{ user.summedSportsmanWorkouts.mostFrequentWorkoutType }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>